.resume{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.resume-img{
    width: 80%;
    height: 100%;
}

.res-b{
    padding: 10px 30px;
    font-size: 1.4rem;
}
.resume-img img{
    height: 100%;
    width: 100%;

}
i{
    background-color: transparent;
}