.skills{
    margin: 8rem 8rem 0 8rem;
}
.skill-name{
    color: white;
    background-color: transparent;
}
.skill-heading{
    text-align: center;
}
.skill-heading h1{
    font-weight: 700;
    font-size: 4rem;
    color: white;
}
.skill-container{
    margin: 3rem 10rem 0 10rem;
}

.skill-tech-heading{
    font-size: xx-large;
    font-weight: 700;
    color: #ffffff70;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.skill-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding-left: 0px;
}

.skill-list-li{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 6px;
    padding: 11px 12px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(32px);
}

.skill-img-div{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 0.5rem;
}

.skill-img{
    flex-shrink: 0; 
    height: 1.25rem; 
    width: 1.25rem; 
}

.react{ background-color: #007acc26 ;}
.js{ background-color: #f0db4f26;}
.html{ background-color: #dd4b2526;}
.css{background-color: #264de426;}
.tail{background-color: #44a8b326;}
.boot{background-color: #6d10f426;}
.material{background-color: #7ebae226;}
.node{background-color: #6fa66026;}
.express{background-color: #6fa66026;}
.mongo{background-color: #6fa66026;}
.sql{background-color: #3bbdb314;}
.next{background-color: #ffffff14;}
.vite{background-color: #6e97fe26;}
.vs{background-color: #33abe326;}
.nvim{background-color: #55e53926;}
.git{background-color: #e671711f;}
.hub{background-color: #ffffff14;}
.npm{background-color: #cc000026;}
.figma{background-color: #ffffff14;}


@media (width<1287px){
    .skills{
        margin: 4rem 2rem 0 2rem;
    }
    .skill-list{
        grid-template-columns: repeat(3,1fr);
    }
    .skill-container{
        margin: 0;
    }
    .skill-heading{
        margin-bottom: 2rem;
    }
}
@media (width<950px) {
    .skill-heading h1{
        font-size: 3rem;
    }
}
@media (width<700px){
    .skill-list{
        padding-left:0px ;
    }
}
@media (width<650px){  
    .skill-list{
        grid-template-columns: repeat(2,1fr);
    }
}