.skill-title{
    font-size: 3rem;
    margin-top: 100px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.box-container{
    margin: 40px 70px 0px 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box{
    margin: 1rem;
    background-color: #ffffff14;
    height: 60px;
    width: 210px;
    border-radius: 0.5rem;
    display: flex;
}
.mini-box{
    height: 50px;
    width: 65px;
    /* border: 0.2px solid white; */
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 0.5rem;
    display: flex;
}
.s-logo{
    height: 40px;
    width: 40px;
    margin:5px 0px 0px 10px;
}
.l-title{
    color: white;
    background-color: transparent;
    font-size:1.5rem;
    font-weight: normal;
    margin:12px 0px 0px 28px;
}
.m-logo{
    height: 40px;
    width: 40px;
    margin:5px 0px 0px 20px;
    background-color: transparent;
}
.m-title{
    color: white;
    background-color: transparent;
    font-size:1.5rem;
    font-weight: normal;
    margin:10px 0px 0px 40px;
}

#js{
    background-color: #faf0898d;
}
#react{
    background-color: #90cef4ac;
}
#socket{
    background-color: rgba(255, 255, 255, 0.568);
}
#git{
    background-color: #ff562283;
}
/* #github{
     
} */
#html{
    background-color: rgba(255, 166, 0, 0.653);
}
/* #css{

}
#boot{

}
#tail{

}
#node{

}
#express{

}
#npm{

}
#mysql{

}
#mongo{

}
#post{

}
#vscode{

} */



@media (width<1200px){
    .box-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (width<1000px){
    .box-container{
        margin: 0px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (width<770px){
    .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (width<580px){
    .box{
        width: 200px;
    }
    .l-title{
        font-size: 1.3rem;
    }

}
@media (width<580px){
    .box{
        width: 180px;
        height: 50px;
    }
    .mini-box{
        width: 55px;
        height: 40px;
    }
    .s-logo
    .l-title{
        font: hidden;
    }

}